{{> header}}

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">Welcome {{name}}</h1>
    </div>

</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicines For Approval</h5>
        <p class="card-text">View Medicines & Approve</p>
        <a href="/laboratory/view" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
 
  </div>
</div>

