{{> header}}
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h1 class="text-center mb-3">Welcome {{name}}</h1>
  </div>

</div>
<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add A Medicine</h5>
        <p class="card-text">Add A Medicine That You Have Made</p>
        <a href="/manufacturer/add" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicine List</h5>
        <p class="card-text">Click Below To See Medicine List</p>
        <a href="/manufacturer/view" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>


</div>



<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Approved/Rejected Medicine List</h5>
        <p class="card-text">Click Below To See The Approved/Rejected Medicine List</p>
        <a href="/manufacturer/app_reject" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicines For Sell</h5>
        <p class="card-text">Click Below To See The Medicine List For Sell</p>
        <a href="/manufacturer/sell_list" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Received Order List</h5>
        <p class="card-text">Click Below To See The Recived Order List</p>
        <a href="/manufacturer/order_received" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

 
</div>