{{> header}}

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">Welcome {{name}}</h1>
    </div>

</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Medicines </h5>
        <p class="card-text">Click Below To See Medicine List</p>
        <a href="/retailer/view" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>


   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Placed Order List </h5>
        <p class="card-text">Click Below To See List Of Placed Orders</p>
        <a href="/retailer/placed_order" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  </div>


  <div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">List of Confirmed/Rejected Placed Order </h5>
        <p class="card-text">Click Below To See The list of Placed Order that are Confirmed/Rejected</p>
        <a href="/retailer/confirm_reject_orderlist" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicine For Sell </h5>
        <p class="card-text">Click Below To See The Medicine List For Sell</p>
        <a href="/retailer/sell_list" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>



<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">List of Received Order </h5>
        <p class="card-text">Click Below To See The list of Received Order</p>
        <a href="/retailer/order_received" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

</div>